@charset "UTF-8";
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 980px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1182px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.main-content__item {
		display: flex;
		flex-direction: column;
		width: 320px;
		margin: 0 auto;
	}
	.menu__list {
		justify-content: center;
	}
}

body {
	background: url(../img/zima3.jpg) 100% no-repeat;
	background-position-x: center;
}

.container {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	cursor: pointer;
}
.header {
	display: flex;
	flex-direction: column;
	height: 165px;
	justify-content: center;
	text-align: center;
	color: khaki;
	font-family: Arial, Helvetica, sans-serif;
	/*background-color: rgba(255, 150, 64, 1);*/
}
.header h1 {
	font-family: "Kaushan Script";
	font-size: 30px;
	letter-spacing: 0.5em;
	word-spacing: 0.3em;
	margin-top: 20px;
}
.header h2 {
	margin: 20px 0px;
}
.menu__list {
	display: flex;
	padding-left: 20px;
	height: 38px;
	line-height: 38px;
	/*background-color: rgba(255, 116, 0, 1);*/
	background-color: rgba(133, 164, 242, 0.2);
}
.menu__list li {
	margin: 0 20px;
}
.menu__link {
	color: rgb(245, 242, 218);
	font-size: 20px;
	text-decoration: none;
	font-weight: 300;
}
.menu__link:hover {
	color: #ff0000;
}
.menu__link:active {
	color: #ff0000;
}
.main__title {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #ff7400;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin: 20px 0 40px;
}
.main-content__item {
	display: flex;
	/*border: 2px solid #ff9640;*/
	border: 2px solid #0d2d7f;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 3px;
	/*background-color: rgba(255, 150, 64, 0.9);*/
	background-color: rgba(13, 45, 127, 0.9);
}
.item__img {
	width: 310px;
	height: 160px;
	overflow: hidden;
}
.item__title {
	color: khaki;
	font-size: 20px;
	font-weight: 500;
	font-style: italic;
	text-align: center;
	margin: 20px auto;
}

.footer {
	text-align: center;
	padding: 5px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	/*background-color: rgba(255, 116, 0, 1);*/
	background-color: rgba(13, 45, 127);
}
.footer p {
	margin-bottom: 10px;
}
